body {
  background: white;
}
p {
  color: rgb(155,135,12);
}
h1 {
  font-weight: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
h2{
  font-family: fantasy;
}
a{
  font-family: times;
}

img {
  float: none;
  border-style: double;
  border-width: 10px;
}

.list {
  background-color: rgb(255,255,107);
}

.normal{
  color: black;
  text-decoration: none;
  font-family: courier;
}

.middle {
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1; 
  top: 1; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.sidenav hr{
  color: red;
}

.underimage {
  font-size: 2px;
  color: black;
}
