body {
  background: #7AD7F0;
}
p {
  color: black;
}
h2{
  font-family: fantasy;
  color: white;
}
a{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

.list {
  background-color: rgb(255,255,107);
}

.normal{
  color: black;
  text-decoration: none;
  font-family: courier;
}

.middle {
  text-align: center;
}

.main {
  padding: 0px 10px;
}



